.catalog {
    padding-bottom: 40px;

    &__inner {
        display: flex;
    }

    &__filter {
        margin-right: 20px;
    }
    &__products-wrapper {
        flex-grow: 1;
    }

    &__products-sort {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__select {
        background-color: #FFFFFF;
        border: 1px solid #CFCFCF;
        border-radius: 5px;
        padding: 8px 13px;


    }

    &__btns {
        display: inline-flex;
        align-items: center;
    }

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &.active path {
            fill: #000;
        }
    }
    &__pagination {
        margin-top: 80px;
    }
}

.catalog {
   
    &__list {
        &.grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            gap: 70px 80px;
        }
    }
    &__list-item {
        &:not(:last-child) {
            margin-bottom: 45px;
        }
        &.card-grid {
            margin-bottom: 0;
        }

    }
}

.filter-btn {
    display: none;
    padding: 0 30px;
    height: 45px;
}

.filter {
    flex-shrink: 0;
    width: 280px;

    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__form-price {
        display: flex;
        margin-bottom: 30px;
    }

    &__label {
        display: inline-flex;
        align-items: flex-end;
        font-size: 14px;
        line-height: 16px;

        color: #CECECE;

        &:not(:last-child) {
            margin-right: 9px;
        }
    }

    &__input {
        height: 35px;
        padding: 0 10px;
        border: 1px solid #CFCFCF;
        border-radius: 5px;
        margin-left: 6px;
        flex-grow: 1;
        width: 50%;

        &_big {
            width: 100%;
            margin-left: 0;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    &__item {

        border: 1px solid #282A91;
        border-radius: 5px;
        transition: .3s;
        &:not(:last-child) {
            margin-right: 15px;
        }


        &_arrow {
            background-color: #F2F2F2;
            border: none;
         
            &:hover {
               background-color: #F2F2F2 !important;
            }
        }


        &_arrow-prev {
            margin-right: 25px;
        }


        &.active,
        &:hover {
            background-color: #282A91;

            a {
                color: #FFFFFF;
            }
        }

    }



    &__item_arrow-prev {
        a {
            &::before {
                background-image: url(../icons/arrow-prev.svg);
            }
        }
    }


    &__item_arrow-next {
        a {
            &::before {
                background-image: url(../icons/arrow-next.svg);
            }
        }
    }

    &__link {
        padding: 8px 15px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        color: #000000;
        transition: color .2s;
        &_arrow {
            height: 100%;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 6px;
                height: 9px;
            }
        }
    }
}