.subscribe {
    padding: 50px 0;
    margin-bottom: 40px;
    background: linear-gradient(95.44deg, #282A91 36.8%, #1B1D84 87.86%);

    &__inner {
        text-align: center;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        max-width: 288px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto 40px;

        span {
            font-weight: 700;
        }
    }

    &__form {
        display: flex;
        max-width: 616px;
        height: 55px;
        margin: 0 auto 30px;
    }

    &__input {
        width: 100%;
        height: 100%;
        outline: 0;
        background-color: #C1C1DF;
        border-radius: 10px 0 0 10px;
        padding: 0 27px;
        border: none;
        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
    }

    &__btn {
        height: 100%;
        padding: 0 32px;
        background-color: #FFFFFF;
        border-radius: 0px 10px 10px 0px;
        border: none;
        font-weight: bold;
        color: #282A91;
        cursor: pointer;
        transition:color .5s;
        &:hover {
            color: #000;
        }
    }
    &__socials{

    }
    &__social {
        margin-right: 20px;
        background: center center no-repeat;
        width: 20px;
            height: 20px;
            transition: transform .5s;
            &:hover {
                transform: scale(1.1);
            }
        &_insta {
            background-image: url(../icons/insta.svg);
        }
        &_vk {
            
            background-image: url(../icons/vk.svg);
        }
        &_fb {
            
            background-image: url(../icons/fb.svg);
        }
        &_yt {
            background-image: url(../icons/yt.svg);
        }
    }

}